.card.card-login.mx-auto.mt-5
  .card-header
    = t('messages.please_sign_in')
  .card-body
    = render partial: "shared/error"
    = form_for(:session, url: sessions_path) do |f|
      .form-group
        = f.text_field :name, placeholder: t('terms.name'), class: "form-control"
      .form-group
        = f.password_field :password, placeholder: t('terms.password'), class: "form-control"

      = submit_tag t("terms.sign_in"), class: "btn btn-primary btn-block"
