- setting.errors.full_messages.each do |e|
  .alert.alert-danger= e

.form-group
  = f.label :path
  = f.hidden_field :path
  = f.text_field :path, class: "form-control", disabled: true
.form-group
  = f.label :parse_type
  = f.hidden_field :parse_type
  = f.text_field :parse_type, class: "form-control", disabled: true

.form-group
  %label= setting.parse_type

.form-group
  = f.field(:tag)
.form-group
  = f.field(:pos_file)
.well.well-sm
  %h4{"data-toggle" => "collapse", "href" => "#advanced-setting"}
    = icon('fa-caret-down')
    = t('terms.advanced_setting')
  #advanced-setting.collapse
    .form-group
      = f.field(:rotate_wait)
    .form-group
      = f.field(:read_from_head)
    .form-group
      = f.field(:refresh_interval)
