- page_title t(".page_title")

= link_to t('fluentd.settings.in_tail.restart_from_first'), daemon_setting_in_tail_path(@fluentds)

= form_for(@setting, as: "setting", url: confirm_daemon_setting_in_tail_path(@fluentd)) do |f|
  = render partial: "form", locals: { f: f }

  %p
    = f.submit t('terms.next'), class: "btn btn-lg btn-primary pull-right"
    = f.submit t('terms.prev'), class: "btn btn-lg btn-default", name: "back"
