- page_title t(".page_title")

= link_to t('fluentd.settings.in_tail.restart_from_first'), daemon_setting_in_tail_path(@fluentd)

= form_for(@setting, as: "setting", url: after_format_daemon_setting_in_tail_path(@fluentd)) do |f|
  - @setting.errors.full_messages.each do |e|
    .alert.alert-danger= e

  .form-group
    = f.label :path
    = f.hidden_field :path
    = f.text_field :path, class: "form-control", disabled: true
  = render partial: "shared/vue/in_tail_format", locals: { file: f.object.path, formats: @setting.known_formats, initialSelected: f.object.format || @setting.guess_format }

  %pre= file_tail(@setting.path).join("\n")

  %p
    = f.submit t('terms.next'), class: "btn btn-lg btn-primary pull-right"
    = link_to t('terms.prev'), daemon_setting_in_tail_path(@fluentd), class: "btn btn-lg btn-default"
