- page_title t(".page_title")

= link_to t('fluentd.settings.in_tail.restart_from_first'), daemon_setting_in_tail_path(@fluentds)

= form_with(model: @setting, scope: "setting", url: confirm_daemon_setting_in_tail_path(@fluentd), builder: FluentdFormBuilder) do |form|
  = render partial: "form", locals: { form: form, setting: @setting }

  %p
    = form.submit t('terms.next'), class: "btn btn-lg btn-primary float-right"
    = form.submit t('terms.prev'), class: "btn btn-lg btn-secondary", name: "back"
