= render "shared/setting_errors"

- # NOTE: plugin_setting_form_action_url is defined at SettingConcern
= form_for(@setting, url: plugin_setting_form_action_url(@fluentd), html: {class: "ignore-rails-error-div"}) do |f|
  - @setting.common_options.each do |key|
    = field(f, key)

  .well.well-sm
    %h4{"data-toggle" => "collapse", "href" => "#advanced-setting"}
      = icon('fa-caret-down')
      = t('terms.advanced_setting')
    #advanced-setting.collapse
      TODO

  = f.submit t('fluentd.common.finish'), class: "btn btn-lg btn-primary pull-right"
