- page_title t('.page_title', label: @fluentd.label)

- if flash[:error]
  %div.alert.alert-danger= flash[:error]

%h4
  = @fluentd.agent.running? ? t(".running") : t(".stopped")

= link_to t(".start"), start_fluentd_agent_path(@fluentd), method: :put
= link_to t(".stop"), stop_fluentd_agent_path(@fluentd), method: :put
= link_to t(".restart"), restart_fluentd_agent_path(@fluentd), method: :put
= link_to t(".log"), log_fluentd_agent_path(@fluentd)
= link_to t(".setting"), fluentd_setting_path(@fluentd)
