- page_title t('.page_title', label: @fluentd.label)

%p.pull-right
  = link_to configtest_daemon_setting_history_path(id: @backup_file.file_id), method: "post", class: "btn btn-default" do
    = icon('fa-legal')
    = t("terms.configtest")
  = link_to reuse_daemon_setting_history_path(id: @backup_file.file_id), method: 'post', class: "btn btn-primary" do
    = icon('fa-pencil')
    = t("terms.reuse")

- if @backup_file.note.content.present?
  .row
    .col-xs-12
      %p= @backup_file.note.content

.row
  .col-xs-12
    %pre
      = preserve do
        = @backup_file.content

