- page_title t('.page_title', label: @fluentd.label) do
  - link_to reuse_daemon_setting_history_path(id: @backup_file.file_id), method: 'post', class: "btn btn-primary pull-right" do
    = icon('fa-pencil')
    = t("terms.reuse")

- if @backup_file.note.content.present?
  .row
    .col-xs-12
      %p= @backup_file.note.content

.row
  .col-xs-12
    %pre
      = preserve do
        = @backup_file.content

