- page_title t('.page_title', label: @fluentd.label)

%p.pull-right
  = link_to configtest_daemon_setting_history_path(id: @backup_file.file_id), method: "post", class: "btn btn-default" do
    = icon('fa-legal')
    = t("terms.configtest")
  = link_to reuse_daemon_setting_history_path(id: @backup_file.file_id), method: 'post', class: "btn btn-primary" do
    = icon('fa-pencil')
    = t("terms.reuse")

- if @backup_file.note.content.present?
  .row
    .col-xs-12
      %p= @backup_file.note.content

.row
  .col-xs-6
    %h2 Current
    %pre
      = preserve do
        = @current
  .col-xs-6
    %h2 Target
    %pre
      = preserve do
        = @backup_file.content

  .col-xs-12.diff
    %h2
      Diff: 
      current
      = ".."
      = params[:id]
    = preserve render "diff"
