- page_title t('.page_title')

-# TODO: should more blush up this page

%table{class: "table table-striped table-hover"}
  %thead
    %tr
      %th= t('.name')
      %th= t('.authors')
      %th= t('.summary')
      %th= t('.installed_version')
      %th= t('.latest_version')
      %th
      %th{width: "32"}
  %tbody
    - @plugins.each do |plugin|
      %tr
        %td
          %label{for: "plugin_#{plugin.gem_name}"}
            = plugin.gem_name
        %td
          = plugin.authors
        %td
          = plugin.summary
        %td
          = plugin.installed_version
        %td
          = plugin.latest_version
        %td
          - unless plugin.latest_version?
            = form_tag(upgrade_plugins_path, method: :patch) do
              = hidden_field_tag("plugins[name]", plugin.gem_name)
              = hidden_field_tag("plugins[version]", plugin.latest_version)
              = submit_tag t('.install_latest_version'), class: "btn btn-primary"
        %td
          = form_tag(uninstall_plugins_path, method: :patch) do
            = hidden_field_tag("plugins[]", plugin.gem_name)
            = submit_tag t('.uninstall'), class: "btn btn-danger"
