- page_title t('.page_title')

= form_tag(install_plugins_path, method: :patch) do
  %table{class: "table table-striped table-hover"}
    %thead
      %tr
        %th{width: "24"}
        %th= t('.name')
        %th= t('.status')
        %th{width: "100"}= t('.installed_version')
        %th{width: "100"}= t('.latest_version')
    %tbody
      - @plugins.each do |plugin|
        %tr
          %td
            - unless plugin.installed?
              = check_box_tag("plugins[]", plugin.gem_name, false, id: "plugin_#{plugin.gem_name}")
          %td
            %label{for: "plugin_#{plugin.gem_name}"}
              = plugin.gem_name
          %td
            - if plugin.installed?
              - if plugin.latest_version?
                = t(".installed")
              - else
                = t(".new_version", version: plugin.latest_version)
            - else
              = t(".not_installed")
          %td
            = plugin.installed_version
          %td
            = plugin.latest_version
  = submit_tag t(".install"), class: "btn btn-primary"

