- page_title t('.page_title')

TODO:
= link_to "is this better?", "/plugins/recommended?v=2"

= form_tag(install_plugins_path, method: :patch) do
  %table{class: "table table-striped table-hover", id: "plugins-table"}
    %thead
      %tr
        %th{width: "24"}
        %th= t('.name')
        %th= t('.category')
        %th= t('.status')
    %tbody
      - @plugins.each do |plugin|
        %tr
          %td
            - unless plugin.installed?
              = check_box_tag("plugins[]", plugin.gem_name, false, id: "plugin_#{plugin.gem_name}")
          %td
            %label{for: "plugin_#{plugin.gem_name}"}
              = plugin.gem_name
          %td
            = plugin.category
          %td
            - if plugin.installed?
              = t(".installed")
            - else
              = t(".not_installed")
  = submit_tag t(".install"), class: "btn btn-primary"


:javascript
  $(document).ready(function() {
    $('#plugins-table').dataTable({
      "ordering": true,
      "paging": false,
      "info": false,
      "searching": false
    });
  });
