- page_title t('.page_title')

- unless @plugins.present?
  = t('.no_updates')
- else
  = form_tag(install_plugins_path, method: :patch) do
    %table{class: "table table-striped table-hover"}
      %tr
        %th.col-lg-2= t('.name')
        %th.col-lg-2= t('.authors')
        %th.col-lg-6= t('.summary')
        %th.col-lg-1= t('.installed_version')
        %th.col-lg-1= t('.latest_version')
      - @plugins.each do |plugin|
        %tr
          %td
            = check_box_tag("plugins[]", plugin.gem_name, false, id: "plugin_#{plugin.gem_name}")
            %label{for: "plugin_#{plugin.gem_name}"}
              = plugin.gem_name
          %td
            = plugin.authors
          %td
            = plugin.summary
          %td
            = plugin.installed_version
          %td
            = plugin.latest_version
    = submit_tag t(".install_latest"), class: "btn btn-primary"

