- page_title t('.page_title')

- unless @plugins.present?
  = t('.no_updates')
- else
  = form_tag(install_plugins_path, method: :patch) do
    %table{class: "table table-striped table-hover"}
      %tr
        %th
        %th= t('.name')
        %th= t('.status')
        %th= t('.installed_version')
        %th= t('.latest_version')
      - @plugins.each do |plugin|
        %tr
          %td
            = check_box_tag("plugins[]", plugin.gem_name, false, id: "plugin_#{plugin.gem_name}")
          %td
            %label{for: "plugin_#{plugin.gem_name}"}
              = plugin.gem_name
          %td
            - if plugin.installed?
              - if plugin.latest_version?
                = t(".installed")
              - else
                = t(".new_version", version: plugin.latest_version)
            - else
              = t(".not_installed")
          %td
            = plugin.installed_version
          %td
            = plugin.latest_version
    = submit_tag t(".install_latest"), class: "btn btn-primary"

