- page_title t('.page_title')



%div.col-lg-6
  - @user.errors.full_messages.each do |e|
    %div.alert.alert-danger= e

  = form_for(:user, url: misc_user_path, method: :patch) do |f|
    %div.form-group
      = f.label :name
      = f.text_field :name, class: "form-control", disabled: true
    %div.form-group
      = f.label :current_password
      = f.password_field :current_password, class: "form-control"
    %div.form-group
      = f.label :password
      = f.password_field :password, class: "form-control"
    %div.form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, class: "form-control"
    = f.submit t(".update_password"), class: "btn btn-primary"
