- page_title @recipe.id

%h2= t("fluentd.settings.recipe.required_plugins")
%ul
  - @recipe.plugins.each do |pl|
    %li
      = pl.gem_name
      - unless pl.installed?
        (not installed)

%h2= t("fluentd.settings.recipe.plugin_parameters")
= form_for(@recipe, url: apply_daemon_recipe_path, method: :put) do |f|
  - @recipe.models.each do |model|
    %h3= t("fluentd.common.setup_#{model.model_name.element}")
    - recipe_attributes = @recipe.required_attributes[model.model_name.element.classify]
    - f.object = model.new(model.initial_params.reverse_merge(recipe_attributes))
    = render partial: "plugin_form", locals: {fields: recipe_attributes.keys, f: f}
  = submit_tag "Apply", class: "btn btn-primary"

.recipe-conf
  #toggle.panel-group
    .panel.panel-default
      .panel-heading#header
        %a.toggle{"data-toggle" => "collapse", "data-parent" => "toggle", "href" => "#conf", "aria-expanded" => "false", "aria-controls" => "conf"}
          %i.fa.fa-file-o
          Recipe Conf
      %div.panel-collapse.collapse#conf{"aria-labelledby" => "header"}
        %pre.panel-body.conf-body= @recipe.conf

