%li
  %a
    %div
      = icon "fa-cog fa-fw fa-lg"
      Installing Plugins
      - if installing_gem?
        %span{class: "badge pull-right"}= installing_gems.length


- if installing_gem?
  - installing_gems.each do |plugin|
    = alert_line 'fa-refresh fa-spin', "#{plugin.gem_name} (#{plugin.version})"
- else
  = alert_line "fa-check text-muted", t('terms.no_alert')

%li{class: "divider"}

%li
  %a
    %div
      = icon "fa-cog fa-fw fa-lg"
      Uninstalling Plugins
      - if uninstalling_gem?
        %span{class: "badge pull-right"}= uninstalling_gems.length

- if uninstalling_gem?
  - uninstalling_gems.each do |plugin|
    = alert_line 'fa-spinner fa-spin', plugin.gem_name
- else
  = alert_line "fa-check text-muted", t('terms.no_alert')
