<ul class="nav" id="side-menu">
  <li>
    <a>
      <%= icon("fa-puzzle-piece fa-fw") << "fluentd" << icon('pull-right fa-caret-down') %>
    </a>
    <% if fluentd_exists? %>
    <ul class="nav nav-second-level">
      <li>
        <%= link_to_other t('fluentd.show.page_title'), fluentd_path %>
      </li>
      <li>
        <%= link_to_other t('fluentd.settings.source_and_output.page_title'), source_and_output_fluentd_setting_path %>
      </li>
      <li>
        <%= link_to_other t('fluentd.settings.show.page_title'), fluentd_setting_path %>
      </li>
      <li>
        <%= link_to_other t('fluentd.common.log'), log_fluentd_path %>
      </li>
      <li>
        <%= link_to_other t('fluentd.errors.page_title'), errors_fluentd_path %>
      </li>
    </ul>
    <% end %>
  </li>

  <% if fluentd_exists? %>
  <li>
    <a>
      <%= icon("fa-cogs fa-fw") << t('terms.plugins') << icon('pull-right fa-caret-down') %>
    </a>
    <ul class="nav nav-second-level">
      <li>
        <%= link_to_other t("plugins.installed.page_title"), installed_plugins_path %>
      </li>
      <li>
        <%= link_to_other t("plugins.recommended.page_title"), recommended_plugins_path %>
      </li>
      <li>
        <%= link_to_other t("plugins.updated.page_title"), updated_plugins_path %>
      </li>
    </ul>
  </li>
  <% end %>

  <li>
    <a>
      <%= icon('fa-coffee fa-fw') << t('terms.misc') << icon('pull-right fa-caret-down') %>
    </a>
    <ul class="nav nav-second-level">
      <li>
        <%= link_to_other t("misc.information.page_title"), misc_information_path %>
      </li>
      <li>
        <%= link_to_other t('users.show.page_title'), user_path %>
      </li>
      <!--
      Not used for now (0.0.1 pre)
      <li>
        <%= link_to_other t('tutorials.index.page_title'), tutorials_path %>
      </li>
      -->
    </ul>
  </li>

  <li>
    <a>
      <%= icon('fa-font') << t('terms.languages') << icon('pull-right fa-caret-down') %>
    </a>
    <ul class="nav nav-second-level">
      <li>
        <%= language_menu %>
      </li>
    </ul>
  </li>
</ul>
