<ul class="nav" id="side-menu">
  <li>
    <%= link_to_other icon("fa-puzzle-piece fa-fw") << " fluentd", fluentd_path %>
    <ul class="nav nav-second-level">
      <li>
        <%= link_to_other t('fluentd.common.edit_config'), fluentd_setting_path %>
      </li>
      <li>
        <%= link_to_other t('fluentd.common.log'), log_fluentd_path %>
      </li>
    </ul>
  </li>
  <li>
    <%= link_to_other icon("fa-cogs fa-fw") << " " << t('terms.plugins') << icon('fa pull-right fa-caret-down'), plugins_path %>
    <ul class="nav nav-second-level">
      <li>
        <%= link_to_other t("plugins.installed.page_title"), installed_plugins_path %>
      </li>
      <li>
        <%= link_to_other t("plugins.recommended.page_title"), recommended_plugins_path %>
      </li>
      <li>
        <%= link_to_other t("plugins.updated.page_title"), updated_plugins_path %>
      </li>
    </ul>
    <!-- /.nav-second-level -->
  </li>
  <li>
    <%= link_to_other icon('fa-coffee fa-fw') << " " << t('terms.misc') << icon('fa pull-right fa-caret-down'), misc_path %>
    <ul class="nav nav-second-level">
      <li>
        <%= link_to_other t("misc.information.page_title"), misc_information_path %>
      </li>
      <li>
        <%= link_to_other t('users.show.page_title'), user_path %>
      </li>
      <li>
        <%= link_to_other t('tutorials.index.page_title'), tutorials_path %>
      </li>
    </ul>
    <!-- /.nav-second-level -->
  </li>
</ul>
