<ul class="nav" id="side-menu">
  <li class="sidebar-search">
    <div class="input-group custom-search-form">
      <input type="text" class="form-control" placeholder="(dummy)Search...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
    <!-- /input-group -->
  </li>
  <li>
    <%= link_to icon("fa-dashboard fa-fw") << " Dashboard", root_path %>
  </li>
  <li>
    <%= link_to icon("fa-cogs fa-fw") << " " << t('terms.plugins') << icon('fa pull-right fa-caret-down'), plugins_path %>
    <ul class="nav nav-second-level">
      <li>
        <%= link_to t("plugins.installed.page_title"), installed_plugins_path %>
      </li>
      <li>
        <%= link_to t("plugins.recommended.page_title"), recommended_plugins_path %>
      </li>
      <li>
        <%= link_to t("plugins.updated.page_title"), updated_plugins_path %>
      </li>
    </ul>
    <!-- /.nav-second-level -->
  </li>
  <li>
    <%= link_to icon('fa-coffee fa-fw') << " " << t('terms.misc') << icon('fa pull-right fa-caret-down'), misc_path %>
    <ul class="nav nav-second-level">
      <li>
        <%= link_to t("miscs.information.page_title"), information_misc_path %>
      </li>
      <li>
        <%= link_to t('miscs.users.page_title'), misc_users_path %>
      </li>
    </ul>
    <!-- /.nav-second-level -->
  </li>
</ul>
