<% # NOTE: Using .erb is workaround for stripping \n and white space by Haml. %>
<% page_title t(".page_title") %>

<h2> Hello, world!  </h2>

<ol>
  <li>
    <% if @fluentd %>
      <%= icon('fa-check text text-success') %>
      <%= t('.step1') %>
    <% else %>
      <%= icon('fa-warning text text-warning') %>
      <%= link_to t('.step1'), fluentd_index_path %>
    <% end %>
  </li>
  <li>
    <% if @fluentd && @fluentd.agent.running? %>
      <%= icon('fa-check text text-success') %>
      <%= t('.step2') %>
    <% else %>
      <%= icon('fa-warning text text-warning') %>
      <% if @fluentd %>
        <%= link_to t('.step2'), fluentd_agent_path(@fluentd) %>
      <% else %>
        <%= t('.step2') %>
      <% end %>
    <% end %>
  </li>
</ol>

<% if @fluentd && @fluentd.agent.running? %>
  TODO: To Be Continued..
<% end %>


<h2>TODO: log(最新30件）</h2>

<% if @log %>
<pre>
<% @log.each do |l| %>
<%= l %>
<% end %>
</pre>
<% end %>

