%div.col-lg-6
  - @fluentd.errors.full_messages.each do |e|
    %div.alert.alert-danger= e

  = form_for(:fluentd, url: url, method: method) do |f|
    %div.form-group
      = f.label :variant
      = f.select :variant, Fluentd.variants
    %div.form-group
      = f.label :pid_file
      = f.text_field :pid_file, class: "form-control"
    %div.form-group
      = f.label :log_file
      = f.text_field :log_file, class: "form-control"
    %div.form-group
      = f.label :config_file
      = f.text_field :config_file, class: "form-control"
    %div.form-group
      = f.label :api_endpoint
      = f.text_field :api_endpoint, class: "form-control"
    = f.submit btn, class: "btn btn-primary"
