<div style="margin-top:100px;">
	<% @matches.each_with_index do |m, idx| %>	

		<div id="match_event_#{idx}" style="background-color:#006666;color:white;width:300px;float:left;margin-right:30px;padding:10px;margin:10px">
			action: <b><%= m.type %></b><br />
			description: <%= m.describe || "N/A"%><br />	
			<b>stores at...</b><br />
			<% m.stores.each_with_index do |s, idx2| %>	
				<%= "#{idx2+1}) #{s}" %><br />	
			<% end %>
			<b>..from sources</b><br />
			<% m.sources.each do |s| %>
				<%= s.type %><br />
				interval to update.. <%= s.interval %><br />
			<% end %>
		</div>

	<% end %>
</div>


