- page_title t('.page_title')

- unless @fluentds.exists?
  %div.row
    %div.col-lg-6
      %div.well
        %span= link_to icon("fa-cog") << t(".setup", target: "fluentd"), new_fluentd_path(variant: "fluentd"), class: "btn btn-primary btn-lg"
    %div.col-lg-6
      %div.well
        %span
          = link_to icon("fa-cog") << t(".setup", target: "td-agent"), new_fluentd_path(variant: "td-agent"), class: "btn btn-lg #{has_td_agent_system? ? "btn-primary" : "btn-default disabled"}"
          - unless has_td_agent_system?
            = link_to t('.install_it', target: "td-agent"), "http://docs.treasuredata.com/articles/td-agent"

- @fluentds.each do |d|
  %div{class: "panel panel-#{d.agent.running? ? "success":"default"}"}
    %div.panel-heading
      %h4
        = "fluentd ##{d.id}"
        - unless d.agent.running?
          = link_to t(".edit"), edit_fluentd_path(d)
          = link_to t(".destroy"), fluentd_path(d), method: :delete
    %div.panel-body
      %h4
        - if d.agent.running?
          = icon("fa-play")
          = t("fluentd.common.running")
        - else
          = icon("fa-pause")
          = t("fluentd.common.stopped")
      %p
        = link_to t(".operation"), fluentd_agent_path(d) # TODO
