- page_title t('.page_title', label: @fluentd.label)

%div.row
  %div.col-lg-6
    %div{class: "panel panel-#{@fluentd.agent.running? ? "success":"default"}"}
      %div.panel-heading
        %h4
          - if @fluentd.agent.running?
            = icon("fa-play")
            = t("fluentd.common.running")
          - else
            = icon("fa-pause")
            = t("fluentd.common.stopped")
      %div.panel-body
        - if flash[:error]
          %div.alert.alert-danger= flash[:error]
        = link_to icon("fa-play") << t("fluentd.common.start"), start_fluentd_agent_path(@fluentd),     method: :put, class: "btn #{@fluentd.agent.running? ? "disabled btn-default" : "btn-primary"}"
        = link_to icon("fa-pause") << t("fluentd.common.stop"), stop_fluentd_agent_path(@fluentd),       method: :put, class: "btn #{@fluentd.agent.running? ? "btn-danger" : "disabled btn-default"}"
        = link_to icon("fa-refresh") << t("fluentd.common.restart"), restart_fluentd_agent_path(@fluentd), method: :put, class: "btn #{@fluentd.agent.running? ? "btn-warning" : "disabled btn-default"}"
  %div.col-lg-6
    %div.panel.panel-default
      %div.panel-heading
        = link_to t('.edit'), edit_fluentd_path, class: "pull-right btn btn-default"
        %h4= t('.fluentd_info')
      %table.table.table-hover
        %tbody
          %tr
            %th= @fluentd.class.human_attribute_name(:pid_file)
            %td= @fluentd.agent.pid_file
          %tr
            %th= @fluentd.class.human_attribute_name(:log_file)
            %td= @fluentd.agent.log_file
          %tr
            %th= @fluentd.class.human_attribute_name(:config_file)
            %td= @fluentd.agent.config_file

