= render "shared/setting_errors"

= form_for(@setting, url: finish_daemon_setting_out_elasticsearch_path(@fluentd), html: {class: "ignore-rails-error-div"}) do |f|
  = field(f, :match)
  = field(f, :host)
  = field(f, :port)
  = field(f, :logstash_format)
  = field(f, :index_name)
  = field(f, :type_name)

  .well.well-sm
    %h4{"data-toggle" => "collapse", "href" => "#advanced-setting"}
      = icon('fa-caret-down')
      = t('terms.advanced_setting')
    #advanced-setting.collapse
      = field(f, :hosts)
      = field(f, :logstash_prefix)
      = field(f, :logstash_dateformat)
      = field(f, :utc_index)
      = field(f, :request_timeout)
      = field(f, :include_tag_key)
      = field(f, :tag_key)
      = field(f, :tag_key)
  = f.submit t('fluentd.common.finish'), class: "btn btn-lg btn-primary pull-right"

