= render "shared/setting_errors"

= form_for(@setting, url: finish_fluentd_setting_out_forward_path(@fluentd), html: {class: "ignore-rails-error-div"}) do |f|
  = field(f, :match)
  = field(f, :server)
  = field(f, :secondary)
  %p= t('fluentd.settings.out_forward.secondary_note')

  .well.well-sm
    %h4{"data-toggle" => "collapse", "href" => "#advanced-setting"}
      = icon('fa-caret-down')
      = t('terms.advanced_setting')
    #advanced-setting.collapse
      = field(f, :send_timeout)
      = field(f, :recover_wait)
      = field(f, :heartbeat_type)
      = field(f, :heartbeat_interval)
      = field(f, :phi_threshold)
      = field(f, :hard_timeout)
  = f.submit t('fluentd.common.finish')   , class: "btn btn-lg btn-primary pull-right"


