- page_title t('.page_title') do
  - link_to misc_download_info_path, class: "btn btn-primary float-right" do
    = icon('fa-download')
    = t('.download_system_information')

- if FluentdUI.update_available? && !FluentdUI.td_agent_ui?
  - # NOTE: td-agent-ui shouldn't have auto update feature
  .row
    .col-xl-12
      %p
        = link_to misc_update_fluentd_ui_path, class: "btn btn-primary btn-lg", method: :post do
          = t('.update_fluentd_ui', version: FluentdUI.latest_version, title: fluentd_ui_title)
        = t('.update_fluentd_ui_caution', brand: fluentd_ui_brand)

.row
  .col-xl-6.col-sm-6.mb-3
    .card.card-default
      .card-header
        %h4= t("terms.version")
      .card-body
        %dl{class: "dl-horizontal"}
          %dt ruby
          %dd= RUBY_DESCRIPTION
          - if FluentdUI.fluentd_version
            %dt fluentd
            %dd= FluentdUI.fluentd_version
          %dt fluentd-ui
          %dd= FluentdUI::VERSION

  .col-xl-6.col-sm-6.mb-3
    .card.card-default
      .card-header
        %h4= t('terms.installed_plugins')
      .card-body
        - if @plugins.present?
          %table{class: "table table-hover", id: "plugins-table"}
            %thead
              %tr
                %th= t('plugins.common.name')
                %th= t('plugins.common.version')
            %tbody
              - @plugins.each do |plugin|
                %tr
                  %td= plugin.gem_name
                  %td= plugin.installed_version
        - else
          = t "plugins.common.no_installed"

.row
  .col-xl-12.col-sm-12
    .card.card-default
      .card-header
        %h4{"data-toggle" => "collapse", "href" => "#env-table"}
          = icon('fa-caret-down')
          = t('.env')
      %table{class: "table table-hover collapse", id: "env-table"}
        %thead
          %tr
            %th= t('.env_key')
            %th= t('.env_value')
        %tbody
          - @env.each_pair do |key, value|
            %tr
              %td= key
              %td= value

:javascript
  $(document).ready(function() {
    $('#env-table').dataTable({
      "autoWidth": false,
      "ordering": true,
      "paging": false,
      "info": false,
      "searching": false
    });
  });
