- page_title t('.page_title', label: @fluentd.label)

- if @error
  %pre.alert.alert-danger= @error

= form_tag(daemon_setting_path(@fluentd), method: :patch) do
  .form-group
    = text_area_tag "config", @config, class: "form-control", rows: 40, class: "js-fluentd-config-editor"
  %p.text.text-danger= t('terms.notice_restart_for_config_edit', brand: fluentd_ui_brand)
  = submit_tag t("terms.update"), class: "btn btn-primary"
