- page_title t(".page_title")

= link_to t('fluentd.settings.restart_from_first'), in_tail_fluentd_setting_path

= form_for(@setting, as: "setting", url: in_tail_finish_fluentd_setting_path(@fluentd)) do |f|
  = render partial: "form", locals: { f: f }

  %pre= @setting.to_conf

  %p
    = f.submit t('terms.prev'), class: "btn btn-default", name: "back"
    = f.submit t('.finish'), class: "btn btn-primary"
    = t('.notice_restart_for_config_edit')
