- page_title t('.page_title')

%h2

.row.fluentd-setting-inout
  .col-xs-4
    .panel.panel-default
      .panel-heading
        %h4= t('.in')
      .panel-body
        %p
          = link_to(daemon_setting_in_tail_path(@fluentd)) do
            = icon('fa-file-text-o fa-lg')
            = t("fluentd.common.setup_in_tail")
        %p
          = link_to(daemon_setting_in_syslog_path(@fluentd)) do
            = icon('fa-file-text-o fa-lg')
            = t("fluentd.common.setup_in_syslog")
  .col-xs-1.arrow-right
    = icon "fa-arrow-circle-right"
  .col-xs-2
    = image_tag "/fluentd-logo.png", style: "max-width: 100%"
  .col-xs-1.arrow-right
    = icon "fa-arrow-circle-right"
  .col-xs-4
    .panel.panel-default
      .panel-heading
        %h4= t('.out')
      .panel-body
        %p
          = link_to(daemon_setting_out_td_path(@fluentd)) do
            = icon('fa-file-text-o fa-lg')
            = t("fluentd.common.setup_out_td")
        %p
          = link_to(daemon_setting_out_s3_path(@fluentd)) do
            = icon('fa-file-text-o fa-lg')
            = t("fluentd.common.setup_out_s3")
        %p
          = link_to(daemon_setting_out_mongo_path(@fluentd)) do
            = icon('fa-file-text-o fa-lg')
            = t("fluentd.common.setup_out_mongo")
        %p
          = link_to(daemon_setting_out_elasticsearch_path(@fluentd)) do
            = icon('fa-file-text-o fa-lg')
            = t("fluentd.common.setup_out_elasticsearch")
        %p
          = link_to(daemon_setting_out_forward_path(@fluentd)) do
            = icon('fa-file-text-o fa-lg')
            = t("fluentd.common.setup_out_forward")
