- page_title t('.page_title', label: "##{@fluentd.id}")

%h4
  = @fluentd.running? ? t(".running") : t(".stopped")

= link_to t(".start"), start_fluentd_daemon_path(@fluentd), method: :put, remote: true
= link_to t(".stop"), stop_fluentd_daemon_path(@fluentd), method: :put, remote: true
= link_to t(".reload"), reload_fluentd_daemon_path(@fluentd), method: :put, remote: true
= link_to t(".log"), log_fluentd_daemon_path(@fluentd)
