- page_title t("fluentd.settings.#{target_plugin_name}.show.page_title")

.well
  = raw t("fluentd.settings.#{target_plugin_name}.option_guide")

- if lookup_context.exists?("form", controller.controller_path, true)
  = render "#{controller.controller_path}/form"
- else
  = render "shared/settings/form"
