- page_title t("fluentd.settings.#{target_plugin_name}.show.page_title")
- add_javascript_pack_tag("nested_settings")
- add_javascript_pack_tag("owned_plugin_section")

.card.mb-3
  .card-body.bg-light
    = raw t("fluentd.settings.#{target_plugin_name}.option_guide")

- if lookup_context.exists?("form", controller.controller_path, true)
  = render "#{controller.controller_path}/form"
- else
  = render "shared/settings/form"
