<!-- vue.js -->
<div id="fluent-log" logUrl="<%= log_tail_fluentd_agent_path(fluentd) %>">
  <p>
  <button class="btn btn-primary" v-on="click: fetchLogs">
    <%= t "terms.reload_log" %>
    <span v-if="processing"><%= icon('fa-spin fa-refresh') %></span>
  </button>
  <input type="text" v-model="limit" size="4" v-on="keyup: fetchLogs | key enter" />
  <%= t('terms.lines') %>
  <label>
    <input type="checkbox" v-model="autoFetch" /> <%= t "terms.auto_reload", seconds: 1 %>
  </label>
</p>

<pre>
<div class="log"><span v-repeat="logs">{{ $value }}
</span></div></pre>
</div>
<!-- /vue.js -->

