<script type="text/template" id="format-bundle">
    <div class="form-inline form-group">
      <label for="in_tail_setting_format">format</label>
      <select id="in_tail_setting_format" name="setting[format]" v-model="format" class="form-control">
        <option v-repeat="selectableFormats" value="{{ $value }}" v-attr="selected: format==$value">{{ $value }}</option>
      </select>
    </div>
    <div class="form-inline form-group" v-repeat="options">
      <label for="in_tail_setting_{{ $value }}">{{ $value }} </label>
      <input id="in_tail_setting_{{ $value }}" type="text" name="setting[{{ $value }}]" v-model="params.setting[$value]" v-on="keyup: onKeyup" size="100%" class="form-control" />
    </div>
</script>

<div id="in_tail_format"
  formatOptionsJson="<%= formats.to_json %>"
  initialSelected="<%= initialSelected %>"
  targetFile="<%= file %>"
  paramsJson="<%= params.to_json %>"
  >

  <div v-component="format-bundle" wait-for="data-loaded"></div>

  <pre>{{{ highlightedLines }}}</pre>

  <div class="well well-sm">
    <%= raw t('fluentd.settings.in_tail_option_guide') %>
  </div>
</div>
