<script type="text/template" id="format-bundle">
    <div class="form-inline form-group">
      <label for="in_tail_setting_format">format</label>
      <select id="in_tail_setting_format" name="setting[format]" v-model="format" class="form-control">
        <option v-repeat="selectableFormats" value="{{ $value }}" v-attr="selected: format==$value">{{ $value }}</option>
      </select>
    </div>
    <div class="form-inline form-group" v-repeat="options">
      <label for="in_tail_setting_{{ $value }}" v-if="!useTextArea">{{ $value }} </label>
      <input id="in_tail_setting_{{ $value }}" type="{{ useTextArea ? 'hidden' : 'text' }}" name="setting[{{ $value }}]" v-model="params.setting[$value]" v-on="keyup: onKeyup" size="100%" class="form-control" />
    </div>

    <div v-if="useTextArea">
      <div class="form-inline form-group">
        <label for="in_tail_setting_format_firstline">format_firstline</label>
        <input id="in_tail_setting_format_firstline" type="text" name="setting[format_firstline]" v-model="params.setting['format_firstline']" v-on="keyup: onKeyup" size="100%" class="form-control" />
      </div>

      <div class="form-group">
       <p class="alert alert-warning"><%= t("fluentd.settings.in_tail.notice_for_multiline_limit") %></p>
        <label for="in_tail_setting_formats">formats</label>
        <textarea id="in_tail_setting_formats" type="text" name="setting[formats]" v-model="params.setting['formats']" v-on="keyup: onKeyup" rows='20' size='100%' class="form-control"></textarea>
      </div>
    </div>
</script>

<div id="in_tail_format"
  formatOptionsJson="<%= formats.to_json %>"
  initialSelected="<%= initialSelected %>"
  targetFile="<%= file %>"
  paramsJson="<%= params.to_json %>"
  >

  <div v-component="format-bundle" wait-for="data-loaded"></div>

  <pre>{{{ highlightedLines }}}</pre>

  <div class="well well-sm">
    <%= raw t('fluentd.settings.in_tail_option_guide') %>
  </div>
</div>
