<script type="text/template" id="format-bundle">
    <div class="form-group">
      <label>format</label>
      <select name="setting[format]" v-model="format">
        <option v-repeat="selectableFormats" value="{{ $value }}" v-attr="selected: format==$value">{{ $value }}</option>
      </select>
    </div>
    <div class="form-group" v-repeat="options">
      <label>{{ $value }} </label>
      <input type="text" name="setting[{{ $value }}]" v-model="params.setting[$value]" size="100%" />
    </div>
</script>

<div id="in_tail_format" class="form-group"
  formatOptionsJson="<%= formats.to_json %>"
  initialSelected="<%= initialSelected %>"
  targetFile="<%= file %>"
  paramsJson="<%= params.to_json %>"
  >

  <div v-component="format-bundle" wait-for="data-loaded"></div>

  <pre>{{{ highlightedLines }}}</pre>

  <div class="well well-sm">
    <%= raw t('fluentd.settings.in_tail_option_guide') %>
  </div>
</div>
