<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <% if content_for?(:page_title) %>
        <%= content_for(:page_title)  %>
        |
      <% end %>
      <%= fluentd_ui_title %>
    </title>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%-# stylesheet_pack_tag 'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="fixed-nav bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
      <%= link_to fluentd_ui_logo, root_path, class: "navbar-brand fluentd-ui-logo" %>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <%= render partial: "shared/global_nav" %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item fluentd-status">
            <a href="<%= daemon_path %>" data-toggle="tooltip" data-placement="bottom" title="fluentd <%= fluentd_status_message %>">
              <%= fluentd_status_icon %>
            </a>
          </li>

          <%= render partial: "shared/vue/notification" %>

          <li class="nav-item">
            <%= link_to(icon("fa-fw fa-sign-out") + t("terms.sign_out"), sessions_path, method: :delete, class: "nav-link") %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="content-wrapper">
      <div class="container-fluid">
        <%= render partial: "shared/flash" %>
        <% if content_for?(:page_head) %>
          <div class="row">
            <div class="col-xl-12 col-sm-12">
              <h1 class="display-4"><%= content_for(:page_head) %></h1>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-xl-12 col-sm-12">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
