<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= fluentd_ui_title %></title>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_pack_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body class="bg-light">
  <div class="container">
    <%= yield %>
  </div>
</body>

</html>
